.bookmark {
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
    background: var(--orange);
    color: var(--white);
  }
  
  .bookmark:hover {
    cursor: pointer;
  }
  
  .bookmark__icon {
    fill: currentcolor;
    width: 2em;
  }

  .bookmark--toogle{
    color: var(--brown);
  }