.card__list{
   padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
 }

 .card__item{
   margin: 0 0 4rem;
 }
 
 .card{
   position: relative;
    background-color: var(--white);
    border-radius: 15px;
    padding: 3rem 2rem 2rem 2rem ;
 }
 
 .card__question{
   display: block;
    font-size: 18px;
    text-align: center;
    margin: 0 0 2rem;
 }
 
 .card__solution-button{
   display: block;
    font-size: 18px;
    background-color: var(--teal);
    color: var(--white);
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
 }
 
 .card__solution-button:hover{
    background-color: var(--teal);
    color: var(--white);
    box-shadow: 4px 4px var(--darkTeal);
 }

 .card__tag-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5px;
   margin: 30px auto 20px auto;
 }
 
 .card__tag-list-item{
    font-weight: 300;
    background-color: var(--teal);
    color: var(--white);
    padding: 8px;
    border-radius: 5px;
    margin-right: 5px;
 }
 
 .card__tag-list-item:hover{
    font-weight: 300;
    background-color: var(--teal);
    color: var(--white);
    box-shadow: 4px 4px var(--darkTeal);
    padding: 8px;
    border-radius: 5px;
    margin-right: 5px;
 }

 .card__button-bookmark{
   position: absolute;
   right: 20px;
   top: -20px;
 }