@font-face {
  font-family: MyFont;
  src: url(../fonts/KeeponTruckin.ttf);
}

:root{
  --teal: #74ccac;
  --darkTeal: #487866;
  --darkOrange: #e4741c;
  --orange: #f4a127;
  --beige: #ffe4c4;;
  --brown:#5c3c2c;
  --white: #FFFFFF;
  --black: #000000;
}

*{
     box-sizing: border-box;
  }
 
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--beige);
    /* background: linear-gradient(331deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
 }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

h1,h2,h3{
  margin: 0px;
}

