#navigation{
   background-color: var(--lightBeige);
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 1em 2em 1em 2em;
}

#navigation__list{
   display: flex;
   list-style: none;
   justify-content: space-evenly;
}

.navgiation__list__item{
   padding: 2rem 1rem;
   width: 100%;
   display: flex;
   justify-content: center;
}

.navigation__img{
   width: 50px; 
   padding: 0px; 
}
