header{
   background-color: var(--lightBeige);
   position: fixed;
   z-index: 20;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 0;
}

h1{
   text-align: center;
   color: var(--orange);
   text-shadow: 4px 4px var(--darkOrange);
   font-size: 60px;
   font-family: "MyFont";
   font-weight: 200;
}